@model SistemaCitasMedicas.Models.Usuario
@{ //Layout = null;
                ViewBag.Title = "Visualizar"; }

<h2>Visualizar</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Usuario/Index">Semestre</a></li>
        <li class="breadcrumb-item active">@Model.nombre</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">Informacion del Usuario</div>
    <div class="card-body">
        <dl class="list-group-horizontal">

            <dt>ID</dt>
            <dd>@Model.usuario_id</dd>
            <dt>TIPO DE USUARIO</dt>
            <dd>@Model.tipoUsuario_id</dd>
            <dt>DNI</dt>
            <dd>@Model.dni</dd>
            <dt>APELLIDOS Y NOMBRES</dt>
            <dd>@Model.nombre ,@Model.apellido</dd>
            <dt>TELEFONO</dt>
            <dd>@Model.telefono</dd>
            <dt>CORREO</dt>
            <dd>@Model.correo</dd>
            <dt>CONTRASEÑA</dt>
            <dd>@(Model.contrasenia)</dd>

        </dl>
    </div>
</div>

<br />
<br />
<br />


